<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="main_home.css" />
</head>

<body>
    <img id="logo" src="${S3.address}">
    <A id="link" href="https://kart.nexon.com/Main/Index.aspx" target="_blank">공식 홈페이지 바로가기</A>
    <div id="ent_frame">
        <div id="select_div">
            <button id="btn1" onClick="location.href='test'"> <img src="${S3.address}">
                <br><text id="test">성향 테스트</text></button>
            <button id="btn2" onClick="location.href='search'"> <img src="${S3.address}">
                <br><text id="search">전적 검색</text></button>
        </div>
        <div id="main_div">
            <div id="notice_div">
                <img src="${S3.address}">
                <table id="table">
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?noticearticlesn=136121"
                                id="notice">
                                <img src="${S3.address}f" width="30"
                                    height="17" alt="공지"> 12월 토스 1.5% 무제한 캐시백 이벤트</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?noticearticlesn=136116"
                                id="notice">
                                <img src="${S3.address}" width="30"
                                    height="17" alt="공지"> 2021 카트라이더 리그 수퍼컵 승부예측 이벤트</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?noticearticlesn=136107"
                                id="notice">
                                <img src="${S3.address}" width="30"
                                    height="17" alt="공지"> 넥슨 서비스 이용약관 변경 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136105"
                                id="notice">
                                <img src="${S3.address}" width="30"
                                    height="17" alt="공지"> 12/9(목) 넥슨 정기점검 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136104"
                                id="notice">
                                <img src="${S3.address}" width="30"
                                    height="17" alt="공지"> 레벨업 보상 수령 오류 관련 보상 신청 방법 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136100"
                                id="notice">
                                <img src="${S3.address}" width="30"
                                    height="17" alt="공지"> 12/8(수) PAYCO 결제 서비스 점검 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136099"
                                id="notice">
                                <img src="${S3.address}" width="30"
                                    height="17" alt="공지"> (조기종료)12/7(화) 임시점검 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136096"
                                id="notice">
                                <img src="${S3.address}f" width="30"
                                    height="17" alt="공지"> 12/6(월) NH카드 결제 한도 변경 안내</a>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
</body>

</html>